
.piadas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://img.freepik.com/fotos-gratis/cowboy-indo-na-velha-cidade-ocidental_23-2150527886.jpg?w=1380&t=st=1725925918~exp=1725926518~hmac=7646d670bf7651d8f9581a78af19097acf9bc99042aec9a97cdc6f07036df486');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.piadas .controle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.piadas select {
  padding: 15px;
  margin: 20px 10px 20px 0;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.959);
  color: #4D6666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
}

.piadas select:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.842);
}

.piadas button {
  margin: 0;
  margin-left: 20px;
  padding: 12px 30px;
  font-size: 20px;
  background: #E65939;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705);
}

.piadas button:hover {
  background: #e659396c;
}

.piadas p {
  color: #FA6D46;
  margin-top: 20px;
  font-size: 20px;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.219);
  text-align: center;
}
