.piada {
  background-image: url(../../assets/Img/retrato-cinematografico-de-um-cowboy-americano-no-oeste-com-chapeu_23-2151495616.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

.piada h2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.658);
  margin-bottom: 20px;
}

.tabela-piadas {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.658);
}

.tabela-piadas th,
.tabela-piadas td {
  padding: 12px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.tabela-piadas th {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabela-piadas input {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  padding: 10px 20px;
  font-size: 16px;
  background: #E65939;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705);
  margin: 0 5px; 
  flex: 1; 
}

.actions button:hover {
  background: #e659396c;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginacao button {
  padding: 10px 20px;
  font-size: 16px;
  background: #E65939;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705);
  margin: 0 10px;
}

.paginacao button:hover {
  background: #e659396c;
}

.paginacao span {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
}