.signup-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/Img/silhueta-de-cowboy-contra-a-luz-quente_23-2149334107.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-form {
  width: 400px;
  background-image: linear-gradient(to bottom, #424242, #212121);
  padding: 20px;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.signup-form h2 {
  color: wheat;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.input-group label {
  color: wheat;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: block;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group select {
  width: 100%;
  padding: 0.8rem;
  background-color: #333;
  color: wheat;
  border: 1px solid #555;
  border-radius: 0.5rem;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.input-group input:focus,
.input-group input:hover,
.input-group select:focus,
.input-group select:hover {
  background-color: #424242;
  border-color: wheat;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  outline: none;
}

/* Ajustes para o grupo de número de celular e estado */
.input-group.phone-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#codigoArea {
  width: 80px; /* Tamanho ajustado para o seletor de estado */
  padding: 0.8rem;
  background-color: #333;
  color: wheat;
  border: 1px solid #555;
  border-radius: 0.5rem;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#codigoArea:focus,
#codigoArea:hover {
  background-color: #424242;
  border-color: wheat;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: wheat;
  color: #333;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #f3e5ab;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.back-button {
  background-color: #888;
  color: white;
  margin-top: 0.5rem;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #aaa;
}
