.register-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/Img/silhueta-de-cowboy-contra-a-luz-quente_23-2149334107.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-form {
  width: 400px;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #424242, #212121);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}

.register-title {
  color: wheat;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.register-input {
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
  background-color: inherit;
  color: wheat;
  border: none;
  outline: none;
  border-bottom: 1px solid wheat;
  transition: all 400ms;
}

.register-input:hover {
  background-color: #424242;
  border-radius: 0.5rem;
}

.register-btn {
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  background-color: #555;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 300ms ease;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #777;
}

.register-signin {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 1rem;
}

.register-link {
  color: #00bfff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
